@import 'utils';

$font: sans-serif;
$color-white: #eee;
$border-color: rgba(255, 255, 255, 0.75);
@mixin backgroundAnimation() {
  -webkit-transition: background-image 3.5s ease-out;
  transition: background-image 3.5s ease-out;
}

@mixin backgroundImage() {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.background {
  // Position
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -9999;

  // Background
  @include backgroundImage();

  // Transition
  @include backgroundAnimation();
}

.container {
  color: $color-white;
  font-family: $font;
  text-align: center;
}

.welcome {
  font-size: 3em;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.78);
  cursor: default;
}

.clock {
  cursor: default;
  margin-top: 10%;
  margin-bottom: 20px;
  opacity: 0.6;
  transition: all 0.5s ease;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.78);
  &:hover {
    opacity: 1;
    transition: all 0.5s ease;
  }
}

.date {
  font-size: 3em;
  margin: 0 20px;
}

.time {
  font-size: 8em;
  margin: 0;
}

.box {
  position: relative;
  @include clearfix();
}

.blur {
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(5px);
  width: 100%;
  height:100%;
  background-size: 100%;
  z-index: -1;
  @include backgroundImage();
  @include backgroundAnimation();
}

.box-content {
  z-index: 20;
}

.pill {
  width: 500px;
  padding: 25px;
  float: left;
  border-radius: 56px;
  border: 5px solid rgba(255, 255, 255, 0.75);
}

.popover-button {
  position: relative;
}

.popover {
  width: 250px;
  padding: 2px;
  border-radius: 40px;
  border: 4px solid $border-color;
  margin: auto;
  margin-top: 10px;
  padding-bottom: 10px;
  transition: opacity 0.25s linear;
}

.crypto-panel {
  width: 250px;
  padding: 2px;
  border-radius: 25px;
  border: 4px solid $border-color;
  margin-top: 10px;
  padding-bottom: 10px;
  float: left;
  margin-right: 15px;
}

.watcher-widget {
  display: flex;
  justify-content: center;
}

.language-popover {
  font-size: 15px;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid blue;
}

.arrow-up {
  $size: 15px;
  width: 0;
  height: 0;
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  border-bottom: $size solid $border-color;
  margin: auto;
  display: block;
  margin-top: -21px;
}

.opacity-hide {
  opacity: 0 !important;
}
.opacity-show {
  opacity: 1;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 800ms ease-in;
}
